globals:
  define: true
  window: true
  module: true

extends: ../../.eslintrc

root: true

rules:
  // For builded version
  // TODO: do not use builded version to check the code
  lines-around-comment: "off"
  no-multiple-empty-lines: "off"
